<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs') %> 
<body>
    <ul id="products">
        <% if (products.length > 0) { %>         
            <% products.forEach(element => { %>
                <%- include ('./partials/product.ejs',element) %> 
            <% }) %>
        <% } %>
    </ul>
    <% if (cart && cart.length > 0) { %>
        <% cart.forEach(element => { %>
            <%- include ('./partials/item.ejs',element) %> 
        <% }) %>
        <form action="/checkout/process" method="post">
            <button type="submit">Comprar</button>
        </form>
     <% } else { %>
        <section id="cart">
            <h2>No hay productos </h2>
        </section>
    <% } %>
    

    <!--
    <ul>
        // Step 4
    </ul>
    -->
</body>
</html>